/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #0c0d02;

	--primary-light-color: #cbdad5;
	--secondary-light-color: #fffff7;
	--primary-dark-color: #34344e;
	--secondary-dark-color: #3a415a;

	--light-gray-color-00: rgba(0, 0, 0, 0.015);

	/* Font Family */
	--text-ff: 'Lora', serif;

	/* Font Size */
	--sm-fs: 0.85rem;
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.75rem;
	--xxl-fs: 2.35rem;
	--xxxl-fs: 3.95rem;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;
	--bold-fw: 700;

	/* Padding */
	--container-pi: 0.85rem;
	--section-pb: 4.5rem;

	/* Width */
	--container-mw: 1280px;

	/* Height */
	--navbar-h: 80px;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
	font-weight: var(--normal-fw);
}

*.__show {
	display: flex !important;
}

*.__hidden {
	display: none !important;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	position: relative;
	z-index: 0;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.35s ease-in-out;
}

ul {
	display: flex;
	list-style: none;
}

input,
button {
	border: none;
	background-color: transparent;
	outline: none;
}

button {
	cursor: pointer;
	transition: 0.45s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

button i,
a i {
	pointer-events: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-weight: var(--bold-fw);
}

/***************** Toggle Theme *******************/
body.__light {
	color: var(--secondary-dark-color);
	background-color: var(--secondary-light-color);
}

body.__dark {
	color: var(--secondary-light-color);
	background-color: var(--secondary-dark-color);
	--light-gray-color-00: rgba(255, 255, 255, 0.015);
}

body.__light #home,
body.__light #navbar,
body.__light #collection {
	background-color: var(--primary-light-color);
}

body.__dark #home,
body.__dark #navbar,
body.__dark #collection {
	background-color: var(--primary-dark-color);
}

body.__light .alt-text {
	color: var(--black-color-00);
}

body.__dark .alt-text {
	color: var(--primary-light-color);
}

body.__dark #navbar.active .logo span,
body.__dark #navbar.active .navbar-link.alt-text {
	color: var(--primary-dark-color);
}

body.__dark #navbar.active .logo,
body.__dark #navbar.active #toggle-theme {
	color: var(--secondary-dark-color);
}

body.__dark #navbar.active #toggle-menu {
	color: var(--primary-dark-color);
}

body.__light #credit-area {
	background-color: var(--primary-dark-color);
	color: var(--secondary-light-color);
}

body.__dark #credit-area {
	color: var(--primary-dark-color);
	background-color: var(--secondary-light-color);
}

body.__light #toggle-menu {
	color: var(--primary-dark-color);
}

body.__dark #toggle-menu {
	color: var(--primary-light-color);
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.section {
	padding-block: var(--section-pb);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	font-size: var(--lg-fs);
	opacity: 0.85;
}

.logo span {
	font-weight: var(--semibold-fw);
}

.logo:hover {
	opacity: 1;
}

.section-title {
	text-transform: capitalize;
	font-size: var(--xxl-fs);
	font-weight: 500;
	margin-bottom: 2.5rem;
	text-align: center;
}

.toggle-theme {
	font-weight: var(--bold-fw);
	font-size: var(--lg-fs);
	opacity: 0.55;
}

.toggle-theme:hover {
	opacity: 1;
}

/***************** NAVBAR *******************/
#navbar {
	height: var(--navbar-h);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: 0.35s ease-in-out;
}

#navbar.active {
	background-color: var(--secondary-light-color) !important;
	box-shadow: 1px 1px 25px 5px var(--light-gray-color-00);
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#toggle-menu {
	font-size: var(--lg-fs);
	display: none;
}

.navbar-menu {
	gap: 1.5rem;
	align-items: center;
}
/************** End of NAVBAR ***************/

/***************** HOME *******************/
#home {
	margin-top: var(--navbar-h);
	padding-block: var(--section-pb);
}

.home-content {
	min-height: calc(100vh - var(--navbar-h));
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.home-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.home-title {
	font-size: var(--xxxl-fs);
	text-transform: capitalize;
}

.home-subtitle {
	font-size: var(--xxl-fs);
}

.home-btn {
	font-weight: var(--medium-fw);

	font-size: var(--base-fs);
	opacity: 0.65;
}

.home-img {
	position: relative;
}

.home-img img {
	position: absolute;
	height: 70%;
	width: 63%;
	object-fit: cover;
	object-position: top center;
}

.home-img img:nth-child(1) {
	top: 0;
	right: 0;
}

.home-img img:nth-child(2) {
	bottom: 0;
	left: 0;
}
/************** End of HOME ***************/

/***************** NEWS *******************/
.new-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.75rem;
}

.new-card {
	height: 750px;
}

.new-img {
	height: 80%;
	overflow: hidden;
}

.new-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	transition: 0.35s ease-in-out;
	filter: grayscale(0.25);
}

.new-img:hover img {
	transform: scale(1.05);
	filter: grayscale(0);
}

.new-info {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: repeat(2, 1fr);
	column-gap: 1rem;
	row-gap: 0.25rem;
	padding: 25px 15px;
}

.new-name,
.new-category {
	text-transform: capitalize;
	font-size: var(--base-fs);
}

.new-name {
	grid-row: 1/2;
}

.new-category {
	grid-row: 2/3;
}

.new-icon {
	grid-row: 1/3;
	font-size: var(--xl-fs);
	opacity: 0.55;
}

.new-icon:hover {
	opacity: 1;
	transform: scale(1.045);
}
/************** End of NEWS ***************/

/***************** COLLECTION *******************/
#collection {
	height: auto;
}

.collection-content {
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	grid-template-rows: repeat(4, auto);
	/* column-gap: 3.75rem; */
}

.collection-card {
	height: 650px;
	position: relative;
}

.collection-card:nth-child(1) {
	grid-column: 12/20;
	grid-row: 1/3;
	flex-direction: row-reverse;
}

.collection-card:nth-child(2) {
	grid-column: 3/11;
	grid-row: 2/4;
	align-items: flex-end;
}

.collection-img,
.collection-img img {
	height: 100%;
	width: 100%;
}

.collection-img img {
	object-fit: cover;
	object-position: top center;
}

.collection-info {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem;
}

.collection-card:nth-child(1) .collection-info {
	top: 0;
	left: -100%;
	text-align: right;
	align-items: flex-end;
}

.collection-card:nth-child(2) .collection-info {
	bottom: 0;
	right: -100%;
	text-align: left;
	align-items: flex-start;
}

.collection-name {
	font-size: var(--xxl-fs);
	text-transform: capitalize;
}

.collection-btn {
	font-size: var(--base-fs);
	display: flex;
	gap: 0.75rem;
	align-items: center;
	margin-top: 0.55rem;
	opacity: 0.55;
}

.collection-btn:hover {
	opacity: 1;
	transform: scale(1.035);
}
/************** End of COLLECTION ***************/

/***************** PRODUCTS *******************/
.product-items {
	display: flex;
	gap: 2%;
	overflow-x: hidden;
}

.product-card {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 32%;
}

.product-img {
	height: 370px;
}

.product-img img {
	object-fit: cover;
	object-position: center center;
	height: 100%;
	width: 100%;
}

.product-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 1rem;
	gap: 0.35rem;
	height: 70px;
	padding-inline: 0.25rem;
}

.product-name {
	text-transform: capitalize;
	font-weight: var(--semibold-fw);

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-price {
	font-size: var(--base-fs);
	font-weight: var(--normal-fw);
}

.products-arrow {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	gap: 2rem;
	align-items: center;
}

.products-arrow button {
	font-size: var(--lg-fs);
	opacity: 0.25;
	font-weight: var(--normal-fw);
}

.products-arrow button:hover {
	opacity: 1;
	transform: scale(1.055);
}
/************** End of PRODUCTS ***************/

/***************** BRANDS *******************/
#brands {
	padding-top: 3.5rem;
	padding-bottom: 7rem;
}

.brands-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	grid-template-rows: auto;
	column-gap: 1.85rem;
}

.brand-img {
	height: 100px;
	width: 100%;
	object-fit: contain;
	object-position: center center;
	background-color: var(--light-gray-color-00);
	padding: 1.75rem 0.85rem;
}

.brand-img:nth-child(odd) {
	margin-top: -2rem;
}

.brand-img:nth-child(even) {
	margin-bottom: -2rem;
}
/************** End of BRANDS ***************/

/***************** FOOTER *******************/
#footer {
	padding-block: 3.5rem;
	background-color: var(--light-gray-color-00);
}

.footer-columns {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	column-gap: 3%;
}

.footer-column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer-list {
	flex-direction: column;
	gap: 0.55rem;
}

.footer-description {
	text-align: justify;
	font-size: var(--sm-fs);
	line-height: 1.5;
}

.footer-description::first-letter {
	margin-left: 1.5rem;
}

.footer-title {
	font-size: var(--base-fs);
	font-weight: var(--medium-fw);
}
/************** End of FOOTER ***************/

/***************** CREDIT AREA *******************/
#credit-area {
	padding-block: 0.55rem;
}

.credit-content {
	font-size: var(--sm-fs);
}

.credit-content span,
.credit-content a {
	font-weight: var(--semibold-fw);
}
/************** End of CREDIT AREA ***************/

/***************** Responsiveness *******************/
@media screen and (max-width: 1280px) {
	/***************** COLLECTION *******************/
	.collection-card {
		height: 55vw;
	}
	/************** End of COLLECTION ***************/
}

@media screen and (max-width: 640px) {
	/***************** NAVBAR *******************/
	#navbar {
		height: auto;
		padding-block: 1.5rem;
	}

	.navbar-content {
		flex-wrap: wrap;
	}

	#toggle-menu {
		display: flex;
	}

	.navbar-menu {
		display: none;
		flex-direction: column;
		gap: 1rem;
		padding-top: 1.25rem;
		width: 100%;
	}

	#toggle-theme {
		display: none;
	}

	.toggle-theme.mobile {
		display: flex;
		position: fixed;
		bottom: 2.5rem;
		right: 1.5rem;
		background-color: var(--secondary-light-color);
		padding: 0.85rem;
		box-shadow: 1px 1px 25px 5px var(--light-gray-color-00);
		border-radius: 50%;
		font-size: var(--xl-fs);
		z-index: 50;
	}
	/************** End of NAVBAR ***************/

	/***************** HOME *******************/
	#home {
		margin-top: unset;
	}
	/************** End of HOME ***************/
}
