/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #0c0d02;

	--primary-light-color: #cbdad5;
	--secondary-light-color: #fffff7;
	--primary-dark-color: #34344e;
	--secondary-dark-color: #3a415a;

	/* Font Family */
	--text-ff: 'Lora', serif;

	/* Font Size */
	--sm-fs: 0.85rem;
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.75rem;
	--xxl-fs: 2.75rem;
	--xxxl-fs: 3.95rem;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;
	--semibold-fw: 600;
	--bold-fw: 700;

	/* Padding */
	--container-pi: 0.85rem;
	--section-pb: 3.5rem;

	/* Width */
	--container-mw: 1280px;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
	font-weight: var(--normal-fw);
}

*.__show {
	display: flex !important;
}

*.__hidden {
	display: none !important;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

body.__light {
	color: var(--secondary-dark-color);
	background-color: var(--primary-light-color);
}

body.__dark {
	color: var(--secondary-light-color);
	background-color: var(--primary-dark-color);
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.35s ease-in-out;
}

ul {
	display: flex;
	list-style: none;
}

input,
button {
	border: none;
	background-color: transparent;
	outline: none;
}

button {
	cursor: pointer;
	transition: 0.45s ease-in-out;
}

button i,
a i {
	pointer-events: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	font-size: var(--lg-fs);
	opacity: 0.85;
}

.logo span {
	color: var(--black-color-00);
	font-weight: var(--bold-fw);
}

.logo:hover {
	opacity: 1;
}

/***************** NAVBAR *******************/
#navbar {
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-light-color);
}

#navbar.active {
	background-color: var(--secondary-light-color);
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navbar-menu {
	gap: 1.5rem;
	align-items: center;
}

.navbar-link {
	color: var(--black-color-00);
}

#toggle-theme {
	font-weight: var(--bold-fw);
	font-size: var(--lg-fs);
	opacity: 0.55;
}

#toggle-theme:hover {
	opacity: 1;
}
/************** End of NAVBAR ***************/

/***************** Responsiveness *******************/
